<!--template inheritance..this page is used to update every part of the code that are repeating-->
<!DOCTYPE html>
<html lang="en" class="index-con">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <!-- Load an icon library -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Navigation</title>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/easeljs.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/eventemitter2.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/roslib.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros2d.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nav2d.js')}}"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/eventemitter2@5.0.1/lib/eventemitter2.min.js"></script>
    <script type="text/javascript"
        src="https://static.robotwebtools.org/mjpegcanvasjs/current/mjpegcanvas.min.js"></script>
    <script type="text/javascript" type="text/javascript">
        /**
         10    * Setup all visualization elements when the page is loaded. 
         11    */
        document.addEventListener('DOMContentLoaded', function () {
            setCamera();
            // your code here
        }, false);

        function setCamera() {
            console.log('set camera method');
            this.cameraViewer = new MJPEGCANVAS.Viewer({
                divID: 'mjpeg',
                host: '127.0.0.1',
                width: 360,
                height: 360,
                topic: '/raspicam_node/image_raw',
                port: 8080,
            })
        };



    </script>
</head>

<body style="height: 100%;margin: 0;font-family: Arial, Helvetica, sans-serif;">
    <!-- <div> -->
    <nav class="navbar">
        <div class="container">

            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Home
                    </a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.robot') }}" class="navbar-item">
                        Robot
                    </a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <!-- </div> -->
    <div id="mjpeg" style="position: fixed; bottom: 0px; left: 0px; transform: translateY(+8px);"></div>
</body>

</html>